.actions-section {
  margin-bottom: var(--section-gap);

  .entries-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: calc(var(--section-gap) / 2);

    .entry {
      margin-right: 0.6rem;
    }
  }

  .actions {
    display: flex;
    gap: 8px;
  }
}
