.actions-section {
  margin-bottom: var(--section-gap);

  .entries-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: calc(var(--section-gap) / 2);

    .entry {
      margin-right: 1rem;
    }
  }

  .actions {
    display: flex;
    gap: 8px;
    select {
      font-size: 1rem;
      padding: 0.1rem 0.9rem;
    }
  }
}
