*:not(button, select, input[type="file"]::file-selector-button) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button,
select,
input[type="file"]::file-selector-button {
  font-size: 1rem;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  display: flex;
  min-width: 320px;
  background: #ffc177;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
